{% extends "main/layout.html" %}

{% block title %} Change Password {% endblock %}

{% block main %}
    <style>
        .accountcard {
            min-height: 300px;
            box-shadow: black 0px 0px 5px 1px;
            background-image: linear-gradient(to bottom right, rgb(255, 249, 238), rgb(255, 235, 202));
            margin-top: 50px;
        }
        label {
            font-size: .9em;
            font-weight: 600;
        }
    </style>
    <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="container-md" style="max-width: 600px; min-width: fit-content;">
            <div class="rounded accountcard p-4 d-flex flex-column">
                <h3 class="specialunderline">Account</h3>
                <form class="h-100 p-2 d-flex flex-column" keepinputs="true" enhance>
                    <label class="form-label mb-0">Current Password:</label>
                    <input type="password" name="old" class="form-control mb-2" placeholder="Current Password" required>
                    <label class="form-label mb-0">New Password:</label>
                    <input type="password" name="new" class="form-control mb-2" placeholder="New Password" required>
                    <label class="form-label mb-0">Confirm New Password:</label>
                    <input type="password" name="newre" class="form-control mb-2" placeholder="Confirm New Password" required>
                    <button class="btn btn-success w-75 mx-auto mt-2" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}