body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    min-width: max(100%, 480px);
    width: fit-content;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(169, 194, 248), white, white, white);
    background-size: 350vw 100vh;
    display: flex;
    flex-direction: column;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.css-serial {
    counter-reset: serial-number;
}  
.css-serial tbody td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
.ordinal {
	font-variant-numeric: ordinal;
	-moz-font-feature-settings: "ordn";
	-ms-font-feature-settings: "ordn";
	-webkit-font-feature-settings: "ordn";
	font-feature-settings: "ordn";
}

.navbrand {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    color: #333333;
}

.navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-bg-img {
    background-image: linear-gradient(rgba(217, 240, 255, .5), rgba(217, 240, 255, .5)), url("/static/imgs/nav-bg.jpg");
    background-position: 0px 0px 0px 0px;
    background-size: auto 426px;
    background-repeat: repeat repeat-x;
    box-shadow: black 1px 1px 3px 0px;
}

.nav-link {
    font-weight: 600;
    font-size: 1.2em;
}

.nav-item {
    padding: 5px 10px;
}

.nav-item:hover {
    background-color: rgba(0, 110, 255, .3);
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@keyframes slidefromright {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.slidefromright {
    animation-duration: 1s;
    animation-name: slidefromright;
    animation-timing-function: ease;
}

.fullspace {
    min-height: calc(100vh - 60px);
}

.specialunderline {
    margin: 0px auto 10px auto;
    padding: 0 25px 5px 25px;
    border-bottom: 3px solid rgb(131, 0, 65);
    border-radius: 5px;
    text-align: center;
}

.flex-break-row {
    flex-basis: 100%;
    height: 0;
    margin: 0;
}

.btn-info {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: white;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:focus {
    color: white;
}

.btn-info.disabled, .btn-info:disabled {
    color: white;
    background-color: #117a8b;
    border-color: #117a8b;
}